label
{
    font-family:"Times New Roman", Times, serif;
    font-size:20px;
    font-weight:bold;
}
.input
{
    padding:5px;
    font-family:"Times New Roman", Times, serif;
    font-size:18px;
}
input[type=submit]
{
    padding:5px;
    font-family:"Times New Roman", Times, serif;
    font-size:15px;
    font-weight:bold;
    background:#003399;
    border:0px solid #dddddd;
    color:#FFF;
}
fieldset
{
    width: 500px;
    font-family: "Times New Roman", Times, serif;
    border: 0px solid #0066FF;
    background: #2799e6;
    border-radius: 5px;
    padding: 15px;
}
fieldset legend
{
    padding:5px;
    font-family:"Times New Roman", Times, serif;
    font-size:23px;
    font-weight:bold;
    background:#003399;
    color:#FFF;
}
.error
{
    color:red;
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}
form {

    background-color: #2799e6;
    width: 700px;
    margin: 0 auto;
}