label
{
	font-family:Consolas, Andale Mono, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:20px;
	font-weight:bold;
}
.input
{
	padding:5px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:18px;
}
input[type=submit]
{
	padding:5px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:18px;
	font-weight:bold;
	background:#003399;
	border:2px solid #dddddd;
	color:#FFF;
}
fieldset
{
	width: 500px;
	font-family: sans-serif;
	border: 2px solid #0066FF;
	background: #2799e6;
	border-radius: 5px;
	padding: 15px;
}
fieldset legend
{
	padding:5px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:25px;
	font-weight:bold;
	background:#003399;
	color:#FFF;
}
.error
{
	color:red;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:16px;
}
form {
	alignment: center;
	width: 700px;
	margin: 0 auto;
}