
.loginBox
{
	width:300px;
	height:380px;
	border:5px solid #003399;
	border-radius:10px;
	padding: 10px 40px 25px;

}
.loginBox h3
{
	background-color:#003399;
	color:#FFF;
	text-align:center;
	padding:15px;
	border-radius: 10px 10px 0 0;
	margin: -10px -40px;
	border-bottom:1px solid #999;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:24px;
	font-weight:bold;
}
input[type=text],input[type=password]
{
	width:280px;
	padding:10px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	margin-top:10px;
}
label
{
	font-size:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
input[type=submit]
{
	background-color: #003399;
	width:300px;
	border:0;
	padding:10px;
	color:#FFF;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	border-radius:5px;
	margin-top:10px;
	font-weight:bold;
}
.error
{
	color:red;
	margin-top:10px;
	font-size:18px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.hello
{
	font-size:36px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
body
{
	margin: 0;
	padding: 0;
	background-color:#dddddd;
}
.top-bar
{
	width:100%;
	height:70px;
	background-color:#fff;
	border-bottom: 2px solid #000;
	margin-bottom: 40px;
}

.left {
	float: left;
	text-align: right;
	line-height:50px;
	margin-top: 10px;
	margin-left:40px;
	display: inline
}
.right {
	float: right;
	text-align: left;
	margin-top: 10px;
	line-height:50px;
	margin-right:40px;
	display: inline
}

.link
{
	font-size: 18px;
	text-decoration: none;
	background-color: #000;
	color: #FFF;
	padding: 5px;
}
.link:hover
{
	background-color: #9688B2;
}
.inputBox
{
	padding:10px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.button
{
	padding:10px;
	width:100px;
	border:0;
	background-color:#06F;
	font-size:20px;
	color:#FFF;
}